body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	text-shadow: 5px 5px 6px #000000,
				-5px 5px 6px #000000,
				5px -5px 6px #000000,
				-5px -5px 6px #000000;
}

h1, h2, p {
	text-align: center;
	width: 100%;
	position:relative;
}

h1 {
	margin-top: 40vh;
	min-height: 20vh;
	font-size:48pt;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}
