.slide {
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	top: 0;
	/* workaround: Make page cover the full page, even when the browser does not
	 * scroll to the exact position of the slides start / end */
	min-height: 105vh;
}

/* make first and last slide 100% to avoid scrollbar with single slide pages
 * and avoid weird scrolling behaviour (= scrolling with no effect, because the
 * slide is too large)*/
.slide:first-child, .slide:last-child {
	min-height:100vh;
}
